<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digitvl | Buying Coins</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="x-apple-disable-message-reformatting">

    <style>
        body{
            color: #cfcfcf;
        }
        a {
            text-decoration: none;
        }
        .brand:hover{
            color: wheat;
            cursor: pointer;
        }

        .box{
            height: 90px;
            width: 150px;
            background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <figure class="text-center">
                    <blockquote class="blockquote">
                      <h2 class=" brand  fw-bold">Digtivl </h2>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Indie  <cite title="Source Title">Artist</cite>
                    </figcaption>
                  </figure>
                <p class="text-muted "> Thanks for Buying the Coin</p>
                <h6 class="text-muted"> Hey {{ username }} </h2>
                <p class="text-muted">{{ body }}</p>

                <div class="col-sm-4 mx-auto box" >
                    <h3 class="text-center" style="align-items: center;"> Total coin <span>{{ coin_amount }}</span> </h3>
                </div>

                 <p class="lead text-center fs-5 mt-5">
                    For any help Contact our Admin Support: digitvlhub@gmail.com
                </p>



                <div style="width: 100%;text-align: center;font-size: 0;margin-top: 16px;">
                    <div style="display: inline-block;margin: 0 auto;font-size: 0;">
                        <a href="https://www.facebook.com/digitvlhub">
                            <img style="width: 18px; display: inline-block;margin: 0 2px;font-size: auto;"
                                 src="https://tailorie-common-static.s3.us-east-2.amazonaws.com/images/emails/welcome-email/facebook.png"></a>
                        <a href="https://www.instagram.com/digitvl_/">
                            <img style="width: 18px;  display: inline-block;margin: 0 2px;font-size: auto;"
                                 src="https://tailorie-common-static.s3.us-east-2.amazonaws.com/images/emails/welcome-email/instagram.png"></a>
                        <a href="https://twitter.com/DIGITVL_">
                            <img style="width: 18px;  display: inline-block;margin: 0 2px;font-size: auto;"
                                 src="https://tailorie-common-static.s3.us-east-2.amazonaws.com/images/emails/welcome-email/twitter.png"></a>
                    </div>
                </div>
                <h6 style="text-align: center;font: Normal 8px/24px Arial;letter-spacing: 0;color: #979EA6;opacity: 1;margin-bottom: 0">@2021 Digitvl. All right reserved.</h6>

                <h6 style="text-align: center;font: Normal 8px/24px Arial;letter-spacing: 0;color: #979EA6;opacity: 1;margin-top: 0; margin-bottom: 30px">
                    Brockport, New York, United States</h6>

            </div>
        </div>
    </div>
</body>